@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  background: linear-gradient(to right, red, black 60%);
  align-items: center;
  padding: 7px;
}

.container-fluid img {
  height: 70px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  margin-right: 10px;
}

.tittleheader {
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
  margin-left: 25px;
}

.butn:hover {
  background-color: red;
  border-radius: 10px;
  border: 3px solid white;
  transition: 0.1s;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #fc0d0d, #ffffff), repeating-radial-gradient(circle at center center, #fc0d0d, #fc0d0d, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;
}

footer {
  background: linear-gradient(to right, red, black 60%);
  padding: 4px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer h4 {
  color: white;
  text-align: center;
}
footer .redes ul a {
  align-content: center;
  justify-content: space-between;
  color: white;
  font-size: 30px;
  margin: 5px;
}

.form-group {
  padding: 20px;
}

.formu h1 {
  display: flex;
  color: black;
  margin: 15px;
  font-weight: bold;
}

.form-container {
  font-weight: bold;
  color: black;
}

.formu h2 {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: black;
}

.maps {
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px black;
}

.ubicacion {
  display: flex;
  flex-direction: row;
  flex: wrap;
}

.contactos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 2fr auto;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.headercontactos {
  grid-area: header;
}

.maincontactos {
  grid-area: main;
}

.footercontactos {
  grid-area: footer;
}

@media screen and (max-width: 750px) {
  .ubicacion {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
  }
  .formu {
    align-items: center;
    justify-content: center;
  }
}
.arriba {
  justify-content: center;
  align-items: center;
}
.arriba .alado {
  display: inline-flex;
}
.arriba .alado img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 15px 15px black;
  margin: 20px;
}
.arriba .h1 {
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}

.arriba .alado h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.arriba .textoo {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
  line-height: 1.5;
  font-weight: bold;
  color: black;
}

.palmares {
  text-align: center;
  margin: 50px;
  padding: 15px;

}

.titulos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  font-weight: bold;
}

.copas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.titulos img {
  width: 80px;
}

.titulos h3 {
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 50px;
  font-weight: bold;
}

@media screen and (max-width: 820px) {
  .alado {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
  }
  .alado img {
    margin: 0px;
  }
}
.spo1 h1 {
  margin-top: 15px;
  text-align: center;
  margin: 100px;
  color: black;
  font-weight: bold;
}

.sponsor {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 100px;
}

.sponsor .imag {
  border: 5px;
  border-radius: 5px;
  box-shadow: 5px 15px 25px black;
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 820px) {
  .maincontactos {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
  }
  .maincontactos img {
    margin: 0px;
    padding: 0px;
  }
}
.inicio img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.productoos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  color: black;
}

.titulo h1 {
  margin: 50px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.pro {
  padding: 15px;
  border-radius: 20px;
}

.pro p {
  font-size: 30px;
  margin: 5px;
}

.pro:hover {
  box-shadow: 0px 0px 15px red;
  transition: 0.3s;
}

.pro img {
  width: 300px;
  height: 400px;
}

button {
  padding: 10px;
  color: white;
  background-color: red;
  border: none;
}

.inicial img {
  width: 100%;
  height: 500px;
  object-fit: none;
}

.tituloo h1 {
  text-align: center;
  margin: 50px;
  color: black;
  font-weight: bold;
}
.pro h2{
  color: black;
  font-weight: bold;
}
.noticias {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 13px;
}

.noticias img {
  object-fit: fill;
}

main {
  height: 100%;
  width: 100%;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}